<div class="about-us-page py-5">
    <div class="container">
      <h2 class="text-center mb-4">About Us</h2>
      <p>We are a passionate team of developers, designers, and digital experts who create solutions that transform businesses.</p>
      <div class="row">
        <div class="col-md-6 " >
          <h4>Our Vision</h4>
          <p>To be a leader in providing digital solutions that drive business growth and success.</p>
        </div>

        <div class="col-md-6 my-2">
          <h4>Our Mission</h4>
          <p>To deliver high-quality services that exceed client expectations and help businesses achieve their goals.</p>
        </div>
      </div>
      <div class="team mt-4">
        <h4>Meet Our Team</h4>
        <div class="row">
          <div class="col-md-4">
            <div class="team-member">
              <img src="assets/images/team1.jpg" class="img-fluid" alt="Team Member">
              <h5>Mr. Ram Sharma</h5>
              <p>CEO</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <img src="assets/images/team2.jpg" class="img-fluid" alt="Team Member">
              <h5>Lead Team</h5>
              <p>Lead Developer</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-member">
              <img src="assets/images/team3.jpg" class="img-fluid" alt="Team Member">
              <h5>Alex Brown</h5>
              <p>UI/UX Designer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  